<app-nav-bar></app-nav-bar>
<section class="container">
    <div class="container text-center">
        <h2>PRODUCTOS</h2>
    </div>
    <article class="containerP">
        <div class="containerImg">
            <img src="/assets/img2.webp" alt="img1">
            <div class="text-center">
                <h5 class="name">The Journey Plaid Shirt - Dark Gray</h5>
                <h6 class="price">$80.000</h6>
                <h5 class="tallas">S  M  L  X </h5>
            </div>

        </div>
        <img src="/assets/img4.webp" alt="img3">
        <img src="/assets/img5.webp" alt="img4">

    </article>
</section>