<body>
<header>
    <app-nav-bar></app-nav-bar>

    <figure class="containerHeader">
        <img class="img-fluid" src="/assets/h3VbclkIEITVYkqucrRtjkApf0mGpTrnSg7jw2Hu.jpg" alt="Banner">
    </figure>
</header>

<main>
    <article class="container">
        <img class="category" routerLink="/hombre" src="/assets/img1.webp" alt="Hombre">
        <img class="category"  routerLink="/mujer" src="/assets/categoriaMujer.jpg" alt="Mujer">
    </article>
    <section class="imgMedio">
        <img src="/assets/bannerMid.webp" alt="Imagen de medio">
    </section>
    <article class="containerP">
        <img src="/assets/img2.webp" alt="img1">
        <img src="/assets/img3.webp" alt="img2">
        <img src="/assets/img4.webp" alt="img3">
        <img src="/assets/img5.webp" alt="img4">
        <img src="/assets/img6.webp" alt="img5">
        <img src="/assets/img7.webp" alt="img6">
    </article>
</main>

<app-footer></app-footer>
</body>