<article>
    <form class="form">
        <h2 class="formTitle">Registrate</h2>
        <p class="formP">¿Ya tienes una cuenta? <a href="#" class="formLink">Entra aquí</a></p>

        <div class="formContainer">
            <div class="formGroup">
                <input type="text" id="name" class="formInput" placeholder=" ">
                <label for="name" class="fomrLabel">Nombre:</label>
                <span class="formLine"></span>
            </div>
            <div class="formContainer">
                <div class="formGroup">
                    <input type="text" id="email" class="formInput" placeholder=" ">
                    <label for="email" class="fomrLabel">Email:</label>
                    <span class="formLine"></span>
                </div>
            </div>
            <div class="formContainer">
                <div class="formGroup">
                    <input type="text" id="password" class="formInput" placeholder=" ">
                    <label for="password" class="fomrLabel">Contraseña:</label>
                    <span class="formLine"></span>
                </div>
            </div>

            <input type="submit" class="formSubmit" value="Registrarse"><a href=""></a>
        </div>

    </form>
</article>